
.content{
    display: flex;
    flex-direction: column;
	padding: 3%;
}

.header{

    display: flex;
    flex-direction: column;
   
}

.nav{
      list-style: none;
      padding: 5%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: space-between;
}

.nav a{
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
      color: blue;
	  text-decoration: underline;
}

.nav a:hover, .contact a:hover{
   background-color:antiquewhite;

}

.nav{
}

audio{
    visibility:hidden;

}

body{
    background-color:slategrey;
}

.page{
    background-color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    line-height:1.6
}


h1{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    padding:5%;
    padding-bottom:0%;
}

h2{
    font-style: italic;
    text-align: center;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

h3,h4{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    padding:5%;
    padding-bottom:0%;
}

.contact{
	color: blue;
	text-decoration: underline;
}

/* magic code that centers images*/
img{
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 2p dimgrey;
}



@media only screen and (min-width:800px){
    .page{
        max-width:800px;
        margin-left:auto;
        margin-right:auto;
        line-height:1.6;
    }


}

/* rules for tablets */
@media only screen and (min-width: 401px)
    and (max-width: 800px)
{
    .page{
        max-width:90%;
        margin-left:auto;
        margin-right:auto;
        line-height:1.6;
    }
    .nav{
      display: flex;
      flex-direction: column;
    }
	h1{
		line-height:1.0;/*fixes spacing if heading is too small for 1 line*/
	}
}

/* rules for phones */
@media only screen and (max-width: 400px)
{
    .page{
        max-width:95%;
        margin-left:auto;
        margin-right:auto;
        line-height:1.6;
    }
    .nav{
      display: flex;
      flex-direction: column;
    }
	h1{
		line-height:1.0;/*fixes spacing if heading is too small for 1 line*/
	}
    

}
