.header{
}

.nav{
}

audio{
    visibility:hidden;
}

body{
    background-color:slategrey
}

.page{
    background-color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    line-height:1.6
}

@media only screen and (min-width:800px){
    .page{
        max-width:800px;
        margin-left:auto;
        margin-right:auto;
        line-height:1.6;
    }
    
}